.nav-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    padding: 10px 0;
    z-index: 1000; /* Đảm bảo thanh điều hướng nổi lên trên các phần tử khác */
    display: none; /* Ẩn mặc định */
  }

  .nav-item-bt {
    text-align: center;
    color: #4a4a4a;
    text-decoration: none;
    font-size: 14px;
  }

  .nav-item-bt img {
    display: block;
    margin: 0 auto 5px;
    width: 24px;
    height: 24px;
  }

  .nav-item-bt.active {
    color: #f16891; /* Màu hồng cho mục đang hoạt động */
  }

  /* Media query cho các thiết bị di động */
  @media (max-width: 768px) {
    .nav-bottom {
      display: flex; /* Hiển thị thanh điều hướng trên thiết bị di động */
    }
  }